
<div>

  <nz-card nzTitle="登录">

    <form nz-form [formGroup]="group" (ngSubmit)="submit()">

      <nz-form-item>
        <nz-form-label [nzSpan]="6">账号</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-input-group nzPrefixIcon="user">
            <input formControlName="username" type="text" nz-input placeholder="账号"/>
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSpan]="6">密码</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <nz-input-group nzPrefixIcon="lock">
            <input formControlName="password" type="password" nz-input placeholder="密码" autofocus />
          </nz-input-group>
        </nz-form-control>
      </nz-form-item>

      <button nz-button nzType="primary">登录</button>

    </form>

  </nz-card>
</div>

