<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="200px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://docs.busycloud.cn/" target="_blank">
        <img src="logo.svg" alt="logo">
        <h1>Bucket</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="控制台" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter nzMatchRouterExact>
            <a routerLink="/dash">首页</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="数据仓库" nzIcon="database">
        <ul>
          <li nz-menu-item nzMatchRouter nzMatchRouterExact>
            <a routerLink="/table">数据表</a>
          </li>
          <!--          <li nz-menu-item nzMatchRouter nzMatchRouterExact>-->
          <!--            <a routerLink="/table/create">新建</a>-->
          <!--          </li>-->
          <li nz-menu-item nzMatchRouter>
            <a>空间使用</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="函数计算" nzIcon="function">
        <ul>
          <li nz-menu-item nzMatchRouter nzMatchRouterExact>
            <a routerLink="/function">接口</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>基础库</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="设置" nzIcon="setting">
        <ul>
          <li nz-menu-item nzMatchRouter nzMatchRouterExact>
            <a>设置</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
                  nz-icon
                  [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
